body {
    background: white;
    font-family: din-round,sans-serif;
    margin: 0;
    overflow: hidden;
}

#taskType {
    font-family: din-round,sans-serif;
    width: 20%;
    font-size: 4vh;
    font-family: din-round,sans-serif;
    height: 5vh;
    margin: 3% auto auto;
    display: flex;
    color: black;
    box-sizing: border-box;
    border-radius: 5vh;
    align-items: center;
    justify-content: center;
}
#taskArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto auto;
    width: 85%;
    height: 55vh;
    padding: 10px;
    border-radius: 5vh;
    -webkit-border-radius: 5vh;
    -moz-border-radius: 5vh;
    color: white;
    font-size: 4vh;
    background: #323743;
}

#navigation {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
button {
    width: 30%;
    height: 70%;
    font-size: 4vh;
}

#truth {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}

#dare {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
#random {
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
}
.button-19 {
  appearance: button;
  background-color: #838383;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}


.button-19:after {
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}

#truth.button-19:after {
    background-color: #1CB0F6;
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#dare.button-19:after {
    background-color: #fa6400;
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#random.button-19:after {
    background-color: #2EA44F;
    background-clip: padding-box;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
